h1, h3, ol, a, p, div {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #D3D3D3;
  margin:  5%;
}

div {
  margin-bottom: 15px;
  padding: 4px 12px;
}

.info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
}